{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Dashboard - Biblioteca{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Script para controlar abertura e fechamento do modal
            $("#modalBtn").click(function() {
                $("#myModal").show();
            });

            $(".close").click(function() {
                $(this).closest(".modal").hide();
            });

            $(window).click(function(event) {
                if ($(event.target).hasClass("modal")) {
                    $(event.target).hide();
                }
            });

            $("#uploadBtn").click(function() {
                $("#uploadModal").show();
            });
        });

        function closeModal() {
            var modal = document.getElementById("purchaseModal");
            modal.style.display = "none";
        }

    </script>
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="header">
            <h2>Nova Analise de Dados</h2>
            <div class="header-actions">
                <a href="{% url 'minhas_analises' %}" class="btn btn-create">Voltar</a>
                <a href="{% url 'home' %}" class="btn btn-back">Sair</a>
            </div>
        </div>
        <br>
        <div class="btn-container">
            <button id="uploadBtn" class="btn-primary">upload dados</button>
        </div>
        <!-- Formulário de Upload no Modal -->
        <div id="uploadModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form action="{% url 'upload_dados' %}" method="post" enctype="multipart/form-data" class="modal-form">
                    {% csrf_token %}
                    <input type="file" name="backup_file" accept=".zip">
                    <button type="submit">Upload</button>
                </form>
            </div>
        </div>
        <h3>Autor da analise: {{ usuario.nome }}</h3>
    </div>

    <!-- Modal Pop-up -->
    <div id="purchaseModal" class="modal">
        <div class="modal-content" id="modalContent">
            <!-- O conteúdo do modal será carregado aqui através do AJAX -->
        </div>
        <span class="close" onclick="closeModal()">&times;</span>
    </div>
    {% endblock %}
</body>
</html>