{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="header">
            <h2>Dashboard - Analise de Dados Web</h2>
            <div class="header-actions">
                <a href="{% url 'minhas_analises' %}" class="btn btn-create">Voltar</a>
                <a href="{% url 'home' %}" class="btn btn-back">Sair</a>
            </div>
        </div>
        <br>
        <div class="btn-container">
            <a href="{% url 'nova_analise' %}" class="btn-primary">Nova Analise</a>
        </div>
        <h3>Todas as analises</h3>
        <div class="task-list">
                <div class="task-list-inner">
                    {% for analise in analises %}
                    <div class="task-card">
                        <div class="task-header">
                            <strong>Nome da Analise: {{ analise.nome_analise }}</strong>
                        </div>
                        <div class="task-body">
                            <p>ID da analise: {{ analise.id_analise }}</p>
                        </div>
                        <div class="task-footer">
                            <button class="btn btn-edit" onclick="window.location.href='{% url 'analisar' analise.id_analise %}'">Ver Analise</button>
                        </div>
                    </div>
                    {% empty %}
                    <div class="no-tasks">
                        Não há analises para mostrar.
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>