
<div class="task-header">
    <h2>Emprestar Livro</h2>
</div>
<div class="task-body">
    <p>Tem certeza que deseja emprestar <strong>{{ livro.titulo }}</strong>?</p>
    <p> valor da taxa: R$<strong>{{ livro.preco }}</strong></p><br>
</div>
<div class="task-footer">
    <form method="post" action="{% url 'emprestar_livro' livro.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-edit">Emprestar!</button>
        <button type="button" class="btn btn-delete" onclick="closeModal()">Cancelar</button>
    </form>
</div>


