{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/meus_livros.css' %}">
  <div class="container">
    <div class="header">
      <h2>Dados Analisados</h2>
      <div class="header-actions">
        <a href="{% url 'dashboard' %}" class="btn btn-create">Dashboard</a>
        <a href="{% url 'home' %}" class="btn btn-back">Sair</a>
      </div>
    </div>
    <h4 align="center">Bem-vindo {{ usuario.nome }}!</h4>
    <br>
    <div class="task-list">
      {% for livros in livros %}
        <div class="task-card">
          <div class="task-header">
            <strong>{{ livros.titulo }}</strong>
          </div>
          <div class="task-body">
            <p>Autor: {{ livros.autor }}</p>
            <p>Taxa de emprestimo: R${{ livros.preco }}</p>
            <p>Ano de lancamento: {{livros.ano_publicacao}}</p>
            {% if livros.usuarioDono %}
              <p> Emprestado por: {{livros.usuarioDono}} </p>
            {% endif %}
          </div>
        </div>
      {% empty %}
        <div class="no-tasks">
          Não há analises para mostrar.
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
