{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/meus_livros.css' %}">
  <div class="container">
    <div class="header">
      <h2>Dados Analisados</h2>
      <div class="header-actions">
        <a href="{% url 'dashboard' %}" class="btn btn-create">Dashboard</a>
        <a href="{% url 'home' %}" class="btn btn-back">Sair</a>
      </div>
    </div>
    <h4 align="center">Bem-vindo {{ usuario.nome }}!</h4>
    <br>
    <div class="task-list">
      {% for analise in analises %}
        <div class="task-card">
          <div class="task-header">
            <strong>{{ analise.nome }}</strong>
          </div>
          <div class="task-body">
            <p>Autor da analise: {{ usuario.nome }}</p>
            <p>Nome da analise: {{ analise.nome_analise }}</p>
            <p>id analise: {{ analise.id_analise}}</p>
          </div>
          <div class="task-footer">
            <button class="btn btn-edit" onclick="window.location.href='{% url 'analisar' analise.id_analise %}'">Ver Analise</button>
          </div>
        </div>

      {% empty %}
        <div class="no-tasks">
          Não há analises para mostrar.
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
